<body>
<div id="page">
  <header id="header">
    <div class="center">
      <nav id="main-menu">
        <ul>
          <li class="site-title"><a href="index.html">Students @ Flatiron School</a></li>
        </ul>
        <ul>
          <li><a href="http://flatironschool.com">More about Our School</a></li>
        </ul>
      </nav>
      <div class="clear"></div>
    </div>
  </header>

  <! -- Begin Main About Section -->
  <section id="about" class="about-us content" style="margin-top: 34px">
    <div class="center">
      <!--start column_wrap-->
      <div class="columns">
        <div class="one_third">
          <img src="images/tim_hunter.jpg" width="300px" alt="Sample Image">
        </div>
        <div class="two_third last">
          <h1>Tim Hunter</h1>
          <h2>Global Citizen</h2>
          <p>Originally from New Zealand I now call New York home. I work in the technical and creative worlds where I enjoy wrangling new technology and problem solving.
          </p>

          <h3>Aspirations</h3>
          <p>To build useful and interesting webapps, particularly in the media space.</p>

          <h3>Interests</h3>
          <p>Technology, travel, diving, hiking.</p>

          <div class="social_icons">
            <ul>
              <li><a href="http://aspectratio.github.com"><i class="icon-globe"></a></i></li>
              <li><a href="http://twitter.com/timspeaking"><i class="icon-twitter"></a></i></li>
              <li><a href="http://www.facebook.com/hunternz"><i class="icon-facebook"></a></i></li>
              <li><a href="http://www.linkedin.com/in/tjhunter"><i class="icon-linkedin"></a></i></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- End Main About Section -->

  <div class="clear title rule" /></div>

  <! -- Begin Former Life Section Section -->
  <section id="former_life">
    <div class="center">
      <h2 class="title"><span>Former Life </span></h2>
      <div class="columns">
        <div class="one_half">
          <h3>Work</h3>
          <ul class="check_style">
            <li><a href="http://www.cbsnews.com">Graphics Developer at CBS News</a></li>
            <li><a href="http://www.vizrt.com">System Specialist at Vizrt</a></li>
            <li><a href="http://www.vizrt.com">Editor at Star! (now E! Canada)</a></li>
          </ul>
        </div>
        <div class="one_half last">
          <h3>Education</h3>
          <ul class="check_style">
            <li><a href="http://www.natcoll.ac.nz">National College of Design Technology - 2001</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Former Life Section -->

  <div class="clear"></div>

  <!-- Begin Coder Cred Section -->
  <section id="coder-cred">
    <div class="center">
      <h2 class="title"><span>Coder Cred</span></h2>
      <div class="columns coder_cred">
        <div class="one_half coder_cred">
          <table>
            <tbody>
              <tr>
                <td><a href="http://github.com/aspectratio" target="_blank"><img src="images/github_eewang.png" alt="GitHub" width="110px"></a></td>
                <td><a href="http://teamtreehouse.com/aspectratio" target="_blank"><img src="images/treehouse_eewang.png" alt="Treehouse" width="100px"></a><a></a></td>
              </tr>
              <tr>
                <td><a href="http://www.codeschool.com/users/aspectratio" target="_blank"><img src="images/codeschool_eewang.jpg" alt="Code School" width="110"></a></td>
                <td><a href="https://coderwall.com/aspectratio" target="_blank"><img src="images/coderwall_eewang.jpeg" alt="Coder Wall" width="110"></a></td>
              </tr>
            </tbody>
          </table>

          <div>
            <h3>Latest Blog Post </h3>
            <p>For the last 10 years or so I’ve dabbled in and out of code. A little web site here, a quick and dirty parser there. It’s never been my core thing, more like a good friend I can call on to help move apartments. But lately I’ve hit a ceiling, and in order to progress and develop the tools I want to exist I’ve decided to down tools and go back to school. I’m spending the next three months at the Flatiron School in New York learning to develop web apps.</p>
            <p><a href="http://aspectratio.github.com/" target="_blank">Read More...</a></p>
          </div>
        </div>
        <div class="one_half coder_cred last">
          <h3>Latest Presentation Teaser </h3>
          <iframe src="http://www.slideshare.net/aviflombaum/slideshelf" width="490px" height="470px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:none;" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </section>
  <!-- End Coder Cred Section -->

  <!-- Begin Favorites Section -->
  <section id="favorites">
    <div class="center">
      <h2 class="title"><span>Favorites</span></h2>
      <h3>Companies - Tools</h3>
      <div class="columns">
        <div class="one_third">
          <figure class="img_left">
            <a href="http://www.google.com" title="Google"><img src="images/logo_google.png" width="80" height="80" alt="Google" align="left"></a>
            <figcaption>Google</figcaption>
          </figure>
            It may not be an exaggeration to say I use Google's products almost every waking minute.
        </div>
        <div class="one_third">
          <figure class="img_left">
            <a href="http://www.evernote.com" title="Evernote Icon"><img src="images/evernote.png" width="80" height="80" alt="Evernote" align="left"></a>
            <figcaption>Evernote</figcaption>
          </figure>
          Evernote collects my thoughts.
        </div>
        <div class="one_third last">
          <figure class="img_left">
            <a href="http://getpocket.com/" title="Vox Icon"><img src="images/pocket.jpg" width="80" height="80" alt="Pocket" align="left"></a>
            <figcaption>Pocket</figcaption>
          </figure>
          Pocket is my library.
        </div>
      </div>


    </div>
    <div class="clear"></div>
  </section>
  <!-- End Favorites Section -->

 

  <section id="copyright" class="footer content">
    <div class="center">
      <p>&copy; 2012. All Your Rights Are Belong To Us.</p>
      <div class="clear"></div>
    </div>
  </section>

</div>